.root {
    -fx-background-color: #A4DDED;
    -fx-font-family: 'serif';
}

.menu-bar {
    -fx-background-color: #A4DDED;
    -fx-font-family:'serif';
    -fx-font-size: 15px;
}

#loginMenu {
    -fx-alignment: CENTER_RIGHT;
}

.button{
    -fx-font-family:'serif';
    -fx-font-size: 14px;
}

.label{
    -fx-font-family:'serif';
    -fx-font-size: 14px;
}


