.menu-bar {
    -fx-background-color: #222831;
    -fx-text-fill: #EEEEEE;
    -fx-font-family: serif;
    -fx-font-size: 16;
}

.relleno {
    -fx-background-color: #222831;
}

.menu .label {
    -fx-text-fill: #EEEEEE;
}

.menu:hover {
    -fx-background-color: #32E0C4;
    -fx-cursor: hand;
}
.menu:showing {
    -fx-background-color: #32E0C4;
}
.menu:hover .label, .menu:showing .label {
    -fx-text-fill: #222831;
}

.menu:hover .menu-item .label {
    -fx-text-fill: #EEEEEE;
}
.menu-item {
    -fx-background-color: #222831;
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: #32E0C4;
    -fx-cursor: hand;
}
.menu-item:hover .label {
    -fx-text-fill: #222831;
}

.context-menu {
    -fx-background-color: #222831;
    -fx-padding: 0em 0em 0em 0em;
}
