.grid-pane {
    -fx-background-color: #393E46;
    -fx-font-size: 16;
}

.label {
    -fx-text-fill: #EEEEEE;
}

.text-field {
    -fx-background-color: #696E76;
    -fx-text-fill: #EEEEEE;
}
.text-field:focused {
    -fx-border-color: #32E0C4;
    -fx-border-radius: 3 3 3 3;
    -fx-border-width: 3;
}

.button {
    -fx-border-radius: 5 5 5 5;
    -fx-background-color: #556B87;
    -fx-text-fill: #EEEEEE;
}

.button:hover, .button:focused {
    -fx-background-color: #32E0C4;
    -fx-text-fill: #222831;
    -fx-cursor: hand;
}

#errorLabel {
    -fx-text-fill: #FF6B6B;
}