.grid-pane {
    -fx-background-color: #393E46;
    -fx-font-size: 16;
    -fx-alignment: center;
}

.label {
    -fx-text-fill: #EEEEEE;
    -fx-padding: 10 0 0 0;
}

.button {
    -fx-border-radius: 5 5 5 5;
    -fx-background-color: #556B87;
    -fx-text-fill: #EEEEEE;
}

.button:hover {
    -fx-background-color: #32E0C4;
    -fx-text-fill: #222831;
    -fx-cursor: hand;
}
